.user--details
    text-align: right
    h6
        font-size: .8rem
        margin: 0
    
.user--img
    width: 2rem
    height: 2rem
    overflow: hidden
    img
        width: 100%

input
    width: 25%
    @media screen and ( max-width: 767px )
        width: 75%

.navbar
    padding: 0
    &__header
        background: #6a7ad9
        padding: 20px
        margin-right: 10px
        color: white
        h6
            font-size: 1rem
        small
            font-size: 6px
    @media screen and ( max-width: 767px )
        padding: 15px