<nav class="navbar">
  <div class="container-fluid p-0 justify-content-between align-items-center">
    <div class="col-md-1 d-md-block d-sm-none d-none navbar__header">
      <h6 class="d-inline-block">POMAC</h6>
      <small class="d-lg-block d-md-none">some text here i can't see</small>
    </div>

    <form class="d-flex col">
      <input
        class="form-control me-2 align-self-start"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
    </form>

    <div class="d-flex">
      <div class="user--details me-2">
        <h6>username</h6>
        <small>admin</small>
      </div>

      <span class="user--img bg-secondary rounded-pill">
        <img src="../../../assets/usr.png" alt="" srcset="" />
      </span>
    </div>
  </div>
</nav>
