.content
    background: #eceff8
    padding: 10px
    height: 100vh
    width: max-content
    display: flex
    overflow-x: scroll
    &>div
        width: fit-content
        height: fit-content
    button
        background-color: #6a7ad9
        height: fit-content
        color: white
        &:nth-child(3)
            background: #d0d5f2
            border: none
            color: #444
    &__body
        flex-wrap: nowrap
        align-items: baseline
        div
            min-width: 30%
            max-height: 100vh
            height: fit-content
            background: white
            padding: 10px
            border: none
            display: flex
            flex-direction: column
            .content_body_card
                border-bottom: 1px solid gray
                @media screen and ( max-width: 767px )
                width: fit-content
                img
                    width: 50%
                    height: 70%
                    object-fit: cover
            &:last-child
                height: min-content
                button
                    background: #c6c6c6
                    color: white
                    border: none
            @media screen and ( max-width: 767px )
                min-width: 100%
                img
                    width: 50%
                    height: 70%
                    object-fit: cover

        &__list
            h4
                color: #6a7ad9