<div class="content w-100">
  <div class="container-fluid m-0 w-100">
    <div class="row">
      <div class="d-flex justify-content-between col-12 w-100 p-2 flex-wrap">
        <h3>Pomac Front End Technical Task</h3>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal2"
        >
          + New Task
        </button>
      </div>
      <div class="content__body d-flex nowrap">
        <div
          *ngFor="let list of lists"
          class="mx-3 overflow-scroll example-list content__body__list m-2"
          cdkDropList
          [cdkDropListData]="getList(this)"
        >
          <h4>
            {{ list.name }}
          </h4>

          <div *ngFor="let card of list.cards" cdkDrag >
            <div
              class="content__body__card"
              draggable="true"
              style="width: 18rem"
            >
              <img
                [src]="card.img"
                class="card-img-top"
                alt="..."
                height="60%"
              />
              <div class="card-body p-0">
                <div class="d-flex flex-row justify-content-between align-items-center w-100 px-0">
                  <h5 class="card-title">{{ card.title }}</h5>
                  <i class="fa-solid fa-pen text-black-50"></i>
                </div>
                <p class="card-text text-muted">{{ card.desc }}</p>
                <div class="d-flex justify-content-between align-items-center flex-row px-0">
                  <small class="text-black-50"> {{ card.date }} </small>
                  <div class="d-flex flex-row p-0">
                    <span *ngFor="let user of card.users" class="text-light bg-primary rounded-circle mx-1 py-1 px-2">
                      {{ user.slice(0, 2).toUpperCase() }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="content__body__list">
          <button
            class="btn"
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            + New Column
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Column</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <span class="mb-1">Title</span>
        <input type="text" class="form-control w-100" id="newList" [(ngModel)]="this.newList" />
        <small *ngIf="!this.newList">This is a required field</small>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="newCol($event)">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel2"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="">
          <label for="title">
            Title
            <input
              type="text"
              class="form-control w-100"
              [(ngModel)]="this.title"
              [ngModelOptions]="{ standalone: true }"
            />
          </label>

          <label for="title">
            description
            <input
              type="text"
              class="form-control w-100"
              [(ngModel)]="this.desc"
              [ngModelOptions]="{ standalone: true }"
            />
          </label>
          <label for="title">
            img
            <input type="file" class="form-control w-100" />
          </label>
            <label for="users">
            users
            <input
              type="text"
              class="form-control w-100"
              [(ngModel)]="this.users"
              [ngModelOptions]="{ standalone: true }"
            />
          </label>
          <label for="date">
            date
            <input
              type="date"
              class="form-control w-100"
              [(ngModel)]="this.date"
              [ngModelOptions]="{ standalone: true }"
            />
          </label>
        
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="newTask()">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>


