<div class="sideBar">
  <ul >
    <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/" ><i class="fa-brands fa-trello"></i></a>
    </li>
    <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/about" ><i class="fa-solid fa-cube"></i></a>
    </li>
    <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/contactus"><i class="fa-solid fa-calendar"></i></a>
    </li>
  </ul>
</div>
